{% extends 'base.html' %}

{% block title %}Add vinyl{% endblock %}

{% block content %}
<div class="container mt-4 text-white">

    <!-- Create the details tile -->
    <div class="details-tile">

        <h1>Add Vinyl</h1>
        <p>Use the following form for adding a vinyl to your collection</p>

        <!--Add a POST form element without any validation-->
        <form action="" enctype='multipart/form-data' method="post" novalidate>
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Add vinyl" class="btn btn-primary">
        </form>

    </div>

</div>
{% endblock %}