{% extends 'base.html' %}

<!-- Define the block-content to be loaded into base.html template -->
{% block content %}

    <!-- If no vinyls have been added yet, notify it to the user -->
    {% if not vinyl_qs %}
    <div class="container mt-5">
        <h1>You have no vinyls in your collection yet...</h1>
        <p>You can now start adding items <a href="{% url 'vinyl_create' %}">here</a></p>
    </div>

    {% else %}

    <!-- Set up the grid -->
    <div class="home-container row">
        {% for vinyl_obj in vinyl_qs %}

            <!-- Create the bootstrap-grid -->
            <div class="about-left col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">

                <!-- Create the home tile -->
                <div class="home-tile">

                    <a href="{% url 'vinyl_retrieve' vinyl_obj.id %}">

                        <!-- Show the cover picture -->
                        {% if vinyl_obj.cover %}
                            <div class="text-center">
                                <img src="{{ vinyl_obj.cover.url }}" alt="Cover for {{ vinyl_obj.album }}" width="150" height="150">
                            </div>
                        {% endif %}

                        <!-- Show an anchor tab with the album name -->
                        <h4 class="home-album text-center">{{ vinyl_obj.album|capfirst }}</h4>

                        <!-- Show some other info about the vinyl -->
                        <p class="home-info">Artist: {{ vinyl_obj.artist }}</p>
                        <p class="home-info">Label: {{ vinyl_obj.label }}</p>
                        {% if vinyl_obj.original_year %}
                            <p class="home-info">Year: {{ vinyl_obj.original_year }}</p>
                        {% endif %}

                    </a>

                </div>

            </div>
        {% endfor %}
    </div>

    {% endif %}

{% endblock %}