{% extends 'base.html' %}

{% block title %}Signup {% endblock %}

{% block content %}
<div class="container mt-4 text-white">

    <!-- Create the tile -->
    <div class="details-tile">

        <h1>Signup</h1>
        <p>Use the following form for the signup</p>

        <!--Add a POST form element without any validation -->
        <form action="" method="post" novalidate>
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Signup" class="btn btn-primary">
        </form>

    </div>

</div>
{% endblock %}