{% extends 'base.html' %}

{% block title %}Signup {% endblock %}

{% block content %}
<div class="container mt-4 text-white">

    <!-- Create the tile -->
    <div class="details-tile">

        <h1>Change password</h1>
        <p>Use the following form for changing your password</p>

        <!--Add a POST form element without any html validation (it will be validated through Django)-->
        <form action="" method="post" novalidate>
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Change password" class="btn btn-primary">
        </form>

    </div>

</div>
{% endblock %}