{% extends 'base.html' %}

<!-- Define the block-content to be loaded into base.html template -->
{% block content %}

    <!-- Show the vinyl list only to logged-in users -->
    {% if request.user.is_anonymous %}
    <div class="container mt-4 text-white">
        <h1>Only logged-in users can see this page!</h1>
        <p>You can now <a href="{% url 'user_login' %}">login</a> here</p>
    </div>

    {% else %}

    <!-- Create the user details -->
    <div class="container">

        <!-- Create the details tile -->
        <div class="details-tile">

            <!-- Show the main properties of the user -->
            <h3 class="details-album">Username: {{ user_obj.username }}</h3>
            {% if user_obj.email %}
                <h4 class="details-info mt-3">Email: {{ user_obj.email }}</h4>
            {% endif %}
            {% if user.first_name %}
                <h4 class="details-info mt-3">First Name: {{ user_obj.first_name }}</h4>
            {% endif %}
            {% if user_obj.last_name %}
                <h4 class="details-info mt-3">Last Name: {{ user_obj.last_name }}</h4>
            {% endif %}

            <!-- Add a delete button-->
            <form class="text-center" action="{% url 'user_delete' %}">
                <button type="submit" class="btn btn-danger" value='Delete Profile'>Delete Profile</button>
            </form>

        </div>

    </div>

    {% endif %}

{% endblock %}